main {
  background: #f4f4f4;
}
.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  background: #fff;
  border: 1px solid #e3e6f0;
  border-radius: 2rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  padding: 3rem 1rem 3rem 1rem;

  text-align: center;
}

.loginBox .logo {
  margin-bottom: 60px;
}

.id_box input {
  width: 280px;
  height: 60px;
  color: #666666;
  font-size: 1rem;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  margin-bottom: 15px;
  padding-left: 5px;
  box-shadow: 0px 0px 27px -4px rgb(116 116 116 / 30%);
  outline: none;
}

.pass_box input {
  width: 280px;
  height: 60px;
  color: #666666;
  font-size: 1rem;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  outline: none;
  margin-bottom: 15px;
  padding-left: 5px;
  box-shadow: 0px 0px 27px -4px rgb(116 116 116 / 30%);
}

.login {
  width: 250px;
  margin: 0 auto;
  background: #bb0841;
  color: #fff;
  border-radius: 50px;
  line-height: 50px;

  font-size: 20px;
  cursor: pointer;
}
.Keep_logged_in {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  margin: 10px 40px 50px 40px;
}
.Keep_logged_in button {
  background: inherit;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  padding: 2px;
}
.Keep_logged_in button.on {
  color: #fff;
  background: #bb0841;
}
@media (max-width: 1024px) {
  .loginBox {
    width: 350px;
    height: 480px;
    padding: 2rem 1rem 2rem 1rem;
  }
  .id_box input,
  .pass_box input {
    width: 240px;
    height: 50px;
  }

  .login {
    width: 220px;
    line-height: 45px;
    font-size: 18px;
  }
  .id_box input::placeholder {
    font-size: 0.8rem;
  }
  .pass_box input::placeholder {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .loginBox {
    width: 300px;
    height: 400px;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }
  .loginBox .logo {
    margin-bottom: 40px;
  }
  .loginBox .logo img {
    width: 200px;
  }
  .id_box input,
  .pass_box input {
    width: 200px;
    height: 40px;
  }
  .Keep_logged_in p {
    font-size: 14px;
  }

  .login {
    width: 180px;
    line-height: 40px;
    font-size: 16px;
  }

  .id_box input::placeholder {
    font-size: 0.6rem;
  }
  .pass_box input::placeholder {
    font-size: 0.6rem;
  }
}
