.Wrap {
    overflow-x: hidden;
}
/* header start */

#header .gnb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    box-shadow: 0px -1px 5px;
    z-index: 999;
}

#header .gnb .nav ul {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'LG_Smart_UI-SemiBold';
}
#header .gnb .nav ul li {
    padding: 0 60px;
}
#header .gnb .nav ul li:hover {
    color: #4e73df;
}

#header .gnb .form-control {
    display: flex;
    gap: 60px;
}

#header .gnb .form-control select {
    width: 150px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
}

/* header and */
main{
    height: calc(100vh - 118px);
    z-index: 888;

}
main .inner {
    display: flex;
    gap: 50px;
    padding: 40px 5% 30px 5%;
}
/* 왼쪽 박스 */
main .inner .left_box {
    width: auto;
}
main .inner .left_box h2{
    font-size: 20px;
    font-weight: 700;
    color: #4e73df;
    margin-bottom: 30px;
}
main .inner .left_box .Equipment_list {
    width: 150px;
    height: 731px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1.5rem;

}
main .inner .left_box .Equipment_list .list_case {
    margin-bottom: 30px;
    cursor: pointer;
}
main .inner .left_box .Equipment_list .list_case p {
    font-weight: 400;
}
main .inner .left_box .Equipment_list .list_case:hover{
    color: #4e73df;
}
main .inner .left_box .Equipment_list img{ 
    width: 80px;
    margin-bottom: 10px;   
}
/* 가운데 박스 */

main .inner .main_box {
    width: 60%;
}
main .inner .main_box h2{
    font-size: 20px;
    font-weight: 700;
    color: #4e73df;
    margin-bottom: 30px;
}
main .inner .main_box .tit_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .inner .main_box .tit_box .Format_settings{
    padding: 8px 10px;
    background: #4e73df;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
main .inner .main_box .Editing_board{
    width: 100%;
    height: 450px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1.5rem;
    margin-bottom: 20px;
}
main .inner .main_box .upload_box{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
main .inner .main_box .upload_box p{
    font-size: 20px;
    font-weight: 700;
    color: #4e73df;
}
main .inner .main_box .save{
    float: right;
    padding: 8px 10px;
    background: #4e73df;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}
main .inner .main_box .upload{
    float: right;
    padding: 8px 10px;
    margin-right: 20px;
    background: #4e73df;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}
main .inner .main_box .Content_Settings{
    width: 100%;
    height: 206px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1.5rem;
}

/* 오른쪽 박스 */
main .inner .right_box {
    width: 100%;
}
main .inner .right_box h2{
    font-size: 20px;
    font-weight: 700;
    color: #4e73df;
    margin-bottom: 30px;
}
main .inner .right_box .tit_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .inner .right_box .tit_box .Delete{
    padding: 8px 10px;
    background: #4e73df;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
main .inner .right_box .Content_list {
    width: 100%;
    height: 206px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1.5rem;
    margin-bottom: 20px;
}

main .inner .right_box .Schedule{
    width: 100%;
    height: 455px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1.5rem;
}


/* main start */
